// app global css in SCSS form
//https://huemint.com/

$dark-primary: #3a3c45;
$dark-primary-color: 58, 60, 69;
$dark-secondary: #63686d;
$dark-secondary-color: 99, 104, 109;
$dark-accent: #551b5d;
$dark-accent-color: 85, 27, 93;
$dark-positive: #009756;
$dark-positive-color: 0, 151, 86;
$dark-negative: #ec1600;
$dark-negative-color: 236, 22, 0;
$dark-info: #e95f5a;
$dark-info-color: 233, 95, 90;
$dark-warning: #dec700;
$dark-warning-color: 222, 199, 0;
$dark-dark: #252627;
$dark-dark-color: 37, 38, 39;
$dark-white: #f1f1f1;
$dark-white-color: 241, 241, 241;
$dark-light: #6d4e7c;
$dark-light-color: 109, 78, 124;
$dark-accent2: #a93d93;
$dark-accent2-color: 169, 61, 147;
$dark-accent3: #a55f8d;
$dark-accent3-color: 165, 95, 141;
$dark-accent4: #d9cdcd;
$dark-accent4-color: 217, 205, 205;

// Dark mode
@mixin dark-mode-colors {
  --app-scrollbar-color1: #{$dark-accent2};
  --app-scrollbar-color2: #{$dark-accent3};
  --app-scrollbar-color3: #{$dark-primary};
  --app-text-color: #{$dark-dark};
  --app-background-color: #{$dark-accent3};
  --app-toolbar-background-color: #{$dark-primary};
  --app-nav-background-color: #{$dark-primary};
  --app-nav-active-text-color: #{$dark-accent3};
  --app-nav-caption-text-color: rgba(255, 255, 255, 0.54);
  --app-nav-qcard-background-color: rgba(0, 0, 0, 0.54);

  --app-tournament-header-background-color: #{$dark-primary};
  --app-tournament-header-tabs-text-color: #{$dark-white};

  --app-table-body-background-color: #{$dark-dark};
  --app-table-top-bottom-text-color: #{$dark-white};
  --app-table-top-bottom-background-color: #{$dark-primary};
  --app-table-column-header-background-color: #{$dark-secondary};
  --app-table-content-text-color: #{$dark-white};
  --app-table-loadingbar-color: #{$light-info};

  --app-select-text-color: #{$dark-white};
  --app-select-chip-background-color: #{$dark-accent2};
  --app-select-chip-text-color: #{$dark-dark};
  --app-select-marginal-color: rgba(255, 255, 255, 0.54);
  --app-select-dropdown-background-color: #{$dark-primary};
  --app-select-dropdown-text-color: #{$dark-white};
  --app-select-dropdown-label-text-color: #{$dark-white};
  --app-select-dropdown-label-caption-text-color: #{$dark-accent4};
  --app-select-dropdown-label-text-active-color: #{$dark-accent};
  --app-select-dropdown-label-caption-active-text-color: #{$dark-primary};
  --app-chip-track-background-color: #{$dark-accent2};
  --app-chip-track-text-color: #{$dark-white};
  --app-chip-map-background-color: #{$dark-accent3};
  --app-chip-map-text-color: #{$dark-white};
  --app-chip-parentcategory-background-color: #{$dark-accent4};
  --app-chip-parentcategory-text-color: #{$dark-dark};
  --app-faq-card-header-background-color: #{$dark-secondary};
  --app-faq-card-content-background-color: #{$dark-primary};
  --app-faq-card-content-text-color: #{$dark-white};
  --app-faq-card-transparent-effect-color: #{$dark-light};
  --app-faq-card-link-color: #{$dark-accent3};
  --app-faq-card-link-color-visited: #{$dark-accent3};
  --app-faq-card-link-color-hover: #{$dark-accent2};
  --app-faq-card-link-color-active: #{$dark-accent2};
  --app-player-lb-missing-run-background-color: #{$dark-secondary};

  --app-slotmachine-main-box-background-color: #{$dark-primary};
  --app-slotmachine-button-text-color: #{$light-white};
  --app-slotmachine-excluded-tracks-counter-badge-background-color: #{$dark-accent2};
  --app-slotmachine-excluded-tracks-counter-badge-text-color: #{$dark-white};
  --app-slotmachine-track-pool-counter-badge-background-color: #{$dark-accent2};
  --app-slotmachine-track-pool-counter-badge-text-color: #{$dark-white};
  --app-slotmachine-result-background-color: #{$dark-secondary};
  --app-slotmachine-result-screen-background-color: #{$dark-accent};
  --app-slotmachine-result-screen-text-color: #{$dark-white};
  --app-slotmachine-gameboard-background-color: #{$dark-secondary};
  --app-slotmachine-keyframes-alert: #{$dark-warning-color};
  --app-slotmachine-keyframes-lightsOff-color: #{$dark-accent};
  --app-slotmachine-keyframes-lightsOn-color: #{$dark-accent2};
  --app-slotmachine-keyframes-lightsOn-shadow-color: #{$dark-accent2};
  --app-slotmachine-keyframes-lightsOff-shadow-color: #{$dark-accent3};
  --app-slotmachine-cards-container-background-color: #{$dark-secondary};
  --app-slotmachine-cards-container-inset-color: #{$dark-primary};
  --app-slotmachine-grab-background-color: #{$dark-accent2};
  --app-slotmachine-grab-shadow-color: rgba(0,0,0, 0.5);
  --app-slotmachine-grab-inset-color: rgba(255,255,255, 1);
  --app-slotmachine-grab-shadow-hover-color: rgba(59, 0, 50, 0.5);
  --app-slotmachine-grab-inset-hover-color: rgba(255,0,255, 1);
  --app-slotmachine-arm-base-gradient-top-color: #{$dark-primary};
  --app-slotmachine-arm-base-gradient-middle-color: #{$dark-secondary};
  --app-slotmachine-arm-base-gradient-bottom-color: #{$dark-primary};
  --app-slotmachine-card-border-color: #{$dark-accent2};
  --app-slotmachine-table-td-text-color: #{$dark-white};

  --app-news-content-header-background-color: #{$dark-primary};
  --app-news-content-header-text-color: #{$dark-white};
  --app-news-content-background-color: #{$dark-secondary};
  --app-news-content-text-color: #{$dark-white};

  --app-show-excluded-players-toggle-color: #{$dark-accent2};
  --app-show-excluded-players-text-color: rgba(255, 255, 255, 0.54);
}

$light-primary: #491d5d;
$light-primary-color: 73, 29, 93;
$light-secondary: #ae3d83;
$light-secondary-color: 174, 61, 131;
$light-accent: #50346e;
$light-accent-color: 80, 52, 110;
$light-positive: #2d9c67;
$light-positive-color: 45, 156, 103;
$light-negative: #e43319;
$light-negative-color: 228, 51, 25;
$light-info: #d26cb7;
$light-info-color: 210, 108, 183;
$light-warning: #dacb2f;
$light-warning-color: 218, 203, 47;
$light-dark: #010803;
$light-dark-color: 1, 8, 3;
$light-white: #fafafa;
$light-white-color: 255, 255, 255;
$light-light: #d9e5ed;
$light-light-color: 217, 229, 237;
$light-accent2: #725f92;
$light-accent2-color: 114, 95, 146;
$light-accent3: #b0a2ad;
$light-accent3-color: 176, 162, 173;

body {
  --app-scrollbar-color1: #{$light-secondary};
  --app-scrollbar-color2: #{$light-primary};
  --app-scrollbar-color3: #{$light-light};
  --app-text-color: #{$light-dark};
  --app-background-color: #{$light-accent3};
  --app-toolbar-background-color: #{$light-primary};
  --app-nav-background-color: #{$light-light};
  --app-nav-active-text-color: #{$light-secondary};
  --app-nav-caption-text-color: rgba(0, 0, 0, 0.54);
  --app-nav-qcard-background-color: rgba(255, 255, 255, 0.54);

  --app-tournament-header-background-color: #{$light-secondary};
  --app-tournament-header-tabs-text-color: #{$light-white};

  --app-table-body-background-color: #{$light-light};
  --app-table-top-bottom-text-color: #{$light-white};
  --app-table-top-bottom-background-color: #{$light-secondary};
  --app-table-column-header-background-color: #{$light-accent2};
  --app-table-content-text-color: #{$light-dark};
  --app-table-loadingbar-color: #{$light-info};

  --app-select-text-color: #{$light-white};
  --app-select-chip-background-color: #{$light-light};
  --app-select-chip-text-color: #{$light-dark};
  --app-select-marginal-color: rgba(255, 255, 255, 0.54);
  --app-select-dropdown-background-color: #{$light-primary};
  --app-select-dropdown-text-color: #{$light-light};
  --app-select-dropdown-label-text-color: #{$light-light};
  --app-select-dropdown-label-caption-text-color: #{$light-accent3};
  --app-select-dropdown-label-text-active-color: #{$light-accent};
  --app-select-dropdown-label-caption-active-text-color: #{$light-primary};
  --app-chip-track-background-color: #{$light-accent2};
  --app-chip-track-text-color: #{$light-white};
  --app-chip-map-background-color: #{$light-secondary};
  --app-chip-map-text-color: #{$light-white};
  --app-chip-parentcategory-background-color: #{$light-primary};
  --app-chip-parentcategory-text-color: #{$light-white};
  --app-faq-card-header-background-color: #{$light-secondary};
  --app-faq-card-content-background-color: #{$light-light};
  --app-faq-card-content-text-color: #{$light-dark};
  --app-faq-card-transparent-effect-color: #{$light-light};
  --app-faq-card-link-color: #{$light-secondary};
  --app-faq-card-link-color-visited: #{$light-secondary};
  --app-faq-card-link-color-hover: #{$light-primary};
  --app-faq-card-link-color-active: #{$light-primary};
  --app-player-lb-missing-run-background-color: #{$grey-5};

  --app-slotmachine-main-box-background-color: #{$light-primary};
  --app-slotmachine-button-text-color: #{$light-white};
  --app-slotmachine-excluded-tracks-counter-badge-background-color: #{$light-accent2};
  --app-slotmachine-excluded-tracks-counter-badge-text-color: #{$light-white};
  --app-slotmachine-track-pool-counter-badge-background-color: #{$light-accent2};
  --app-slotmachine-track-pool-counter-badge-text-color: #{$light-white};
  --app-slotmachine-result-background-color: #{$light-secondary};
  --app-slotmachine-result-screen-background-color: #{$light-accent};
  --app-slotmachine-result-screen-text-color: #{$light-white};
  --app-slotmachine-gameboard-background-color: #{$light-secondary};
  --app-slotmachine-keyframes-alert: #{$light-warning-color};
  --app-slotmachine-keyframes-lightsOff-color: #{$light-accent};
  --app-slotmachine-keyframes-lightsOn-color: #{$light-accent2};
  --app-slotmachine-keyframes-lightsOn-shadow-color: #{$light-accent2};
  --app-slotmachine-keyframes-lightsOff-shadow-color: #{$light-accent3};
  --app-slotmachine-cards-container-background-color: #{$light-secondary};
  --app-slotmachine-cards-container-inset-color: #{$light-primary};
  --app-slotmachine-grab-background-color: #{$light-accent2};
  --app-slotmachine-grab-shadow-color: rgba(0,0,0, 0.5);
  --app-slotmachine-grab-inset-color: rgba(255,255,255, 1);
  --app-slotmachine-grab-shadow-hover-color: rgba(59, 0, 50, 0.5);
  --app-slotmachine-grab-inset-hover-color: rgba(255,0,255, 1);
  --app-slotmachine-arm-base-gradient-top-color: #{$light-primary};
  --app-slotmachine-arm-base-gradient-middle-color: #{$light-secondary};
  --app-slotmachine-arm-base-gradient-bottom-color: #{$light-primary};
  --app-slotmachine-card-border-color: #{$light-accent2};
  --app-slotmachine-table-td-text-color: #{$light-dark};

  --app-news-content-header-background-color: #{$light-secondary};
  --app-news-content-header-text-color: #{$light-white};
  --app-news-content-background-color: #{$light-light};
  --app-news-content-text-color: #{$light-dark};

  background: var(--app-background-color);
  color: var(--app-dark-color);

  .tournament-header-top {
    background: var(--app-tournament-header-background-color);
  }

  .tournament-header-middle {
    background: var(--app-tournament-header-background-color);
  }

  .tournament-header-bottom {
    background: var(--app-tournament-header-background-color);
    color: var(--app-tournament-header-tabs-text-color);
  }

  .q-toolbar {
    background: var(--app-toolbar-background-color);
  }

  // navbar
  .q-drawer {
    background: var(--app-nav-background-color);
    //color:

    .q-router-link--active {
      color: var(--app-nav-active-text-color)
    }

    .q-item__label--caption {
      color: var(--app-nav-caption-text-color);
    }

    .q-card {
      background: var(--app-nav-qcard-background-color);
    }
  }

  tbody {
    background: var(--app-table-body-background-color);
    color: var(--app-table-content-text-color);
  }

  .q-table__container {
    .q-table__title, thead,
    .q-table__bottom,
    .q-table__bottom .q-icon,
    .q-field__native
    {
      color: var(--app-table-top-bottom-text-color) !important;
    }

    .q-table__top {
      /* bg color is important for th; just specify one */
      background-color: var(--app-table-top-bottom-background-color) !important;
    }

    .q-table__bottom {
      background-color: var(--app-table-top-bottom-background-color) !important;
    }

    thead tr:first-child {
      background-color: var(--app-table-column-header-background-color) !important;
      border-color: var(--app-table-column-header-background-color) !important;
    }

    // Select within table
    .q-select {
      color: var(--app-select-text-color) !important;

      .q-chip {
        background-color: var(--app-select-chip-background-color) !important;
        color: var(--app-select-chip-text-color) !important;
      }

      // Table selection input text
      // TODO put within .q-select? (above)
      .q-field__label {
        color: var(--app-select-text-color) !important;
      }

      .q-field__input {
        color: var(--app-select-text-color) !important;
      }

      .q-field__control {
        color: var(--app-select-text-color) !important;
      }
    }
  }

  .track-chip {
    background-color: var(--app-chip-track-background-color);
    color: var(--app-chip-track-text-color);
  }

  .track-chip-map {
    background-color: var(--app-chip-map-background-color) !important;
    color: var(--app-chip-map-text-color) !important;
  }

  .track-chip-parentcategory {
    background-color: var(--app-chip-parentcategory-background-color) !important;
    color: var(--app-chip-parentcategory-text-color) !important;
  }

  // selection dropdown
  .q-menu-dropdown {
    background-color: var(--app-select-dropdown-background-color) !important;
    color: var(--app-select-dropdown-text-color);

    .q-item__label{
      color: var(--app-select-dropdown-label-text-color) !important;
    }
    .q-item__label--caption {
      color: var(--app-select-dropdown-label-caption-text-color) !important;
    }
    .q-item--active {
      color: var(--app-select-dropdown-label-text-active-color) !important;
      background: rgb(224, 224, 224);
    }
    .q-item--active .q-item__label {
      color: var(--app-select-dropdown-label-text-active-color) !important;
    }
    .q-item--active .q-item__label--caption {
      color: var(--app-select-dropdown-label-caption-active-text-color) !important;
    }
  }

  .faq-card {
    .faq-card-header {
      background-color: var(--app-faq-card-header-background-color) !important;
    }
    .faq-card-content {
      background-color: var(--app-faq-card-content-background-color) !important;
      color: var(--app-faq-card-content-text-color) !important;
    }

    .truncated::after {
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, var(--app-faq-card-transparent-effect-color) 90%)
    }
  }

  // select not in table for example worst tracks page
  .q-select {
    color: var(--app-select-text-color) !important;

    .q-chip {
      background-color: var(--app-select-chip-background-color) !important;
      color: var(--app-select-chip-text-color) !important;
    }

    // Table selection input text
    // TODO put within .q-select? (above)
    .q-field__label {
      color: var(--app-select-text-color) !important;
    }

    .q-field__input {
      color: var(--app-select-text-color) !important;
    }

    .q-field__marginal {
      color: var(--app-select-marginal-color) !important;
    }
  }

  .q-field__control {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .q-field--filled .q-field__control {
    background: rgba(0, 0, 0, 0.2);
    color: white;
  }

  .slotmachine-page {
    .main-box {
      background-color: var(--app-slotmachine-main-box-background-color) !important;
    }

    .q-badge-excluded-tracks {
      background-color: var(--app-slotmachine-excluded-tracks-counter-badge-background-color) !important;
      color: var(--app-slotmachine-excluded-tracks-counter-badge-text-color) !important;
    }

    .q-badge-track-pool{
      background-color: var(--app-slotmachine-track-pool-counter-badge-background-color) !important;
      color: var(--app-slotmachine-track-pool-counter-badge-text-color) !important;
    }

    .q-btn {
      color: var(--app-slotmachine-button-text-color) !important;
    }

    .slotmachine {
      --result-background: var(--app-slotmachine-result-background-color) !important;
      --result-screen-background: var(--app-slotmachine-result-screen-background-color) !important;
      --result-screen-text-color: var(--app-slotmachine-result-screen-text-color) !important;
      --gameboard-background: var(--app-slotmachine-gameboard-background-color) !important;
      --keyframes-alert: var(--app-slotmachine-keyframes-alert) !important;
      --keyframes-lightsOn: var(--app-slotmachine-keyframes-lightsOn-color) !important;
      --keyframes-lightsOn-shadow: var(--app-slotmachine-keyframes-lightsOn-shadow-color) !important;
      --keyframes-lightsOff: var(--app-slotmachine-keyframes-lightsOff-color) !important;
      --keyframes-lightsOff-shadow: var(--app-slotmachine-keyframes-lightsOff-shadow-color) !important;
      --cards-container-brackground: var(--app-slotmachine-cards-container-background-color) !important;
      --cards-container-inset: var(--app-slotmachine-cards-container-inset-color) !important;
      --card-border-color: var(--app-slotmachine-card-border-color) !important;
      --grab-background-color: var(--app-slotmachine-grab-background-color) !important;
      --grab-shadow-color: var(--app-slotmachine-grab-shadow-color) !important;
      --grab-inset-color: var(--app-slotmachine-grab-inset-color) !important;
      --grab-shadow-hover-color: var(--app-slotmachine-grab-shadow-hover-color) !important;
      --grab-shadow-inset-color: var(--app-slotmachine-grab-inset-hover-color) !important;
      --arm-base-gradient-top: var(--app-slotmachine-arm-base-gradient-top-color) !important;
      --arm-base-gradient-middle: var(--app-slotmachine-arm-base-gradient-middle-color) !important;
      --arm-base-gradient-bottom: var(--app-slotmachine-arm-base-gradient-bottom-color) !important;
    }
  }
  .worstTracksTable-track-td .q-item__label {
    color: var(--app-slotmachine-table-td-text-color) !important;
  }

  .q-table__linear-progress {
    color: var(--app-table-loadingbar-color) !important;
  }

  .dialog-news {
    .q-dialog__backdrop {
      background-color: rgba(0, 0, 0, 0.7) !important;
    }
  }

  .news-content {
    background-color: var(--app-news-content-background-color) !important;
    color: var(--app-news-content-text-color) !important;
  }

  .news-content-header {
    background-color: var(--app-news-content-header-background-color) !important;
    color: var(--app-news-content-header-text-color) !important;
  }
}

body.q-scroll--lock .q-page {
  > * {
    overflow-anchor: none;
  }

  > .q-scroll--anchor {
    overflow-anchor: auto;
  }
}

// makes the scroll bar look better for the drop-down menus in the header
::-webkit-scrollbar {
  height: 16px;
  width: 16px;
  background: var(--app-scrollbar-color3);
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-thumb {
  width: 16px;
  background-color: var(--app-scrollbar-color1);
  border-radius: 10px;
  z-index: 12;
  border: 3px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .28s ease-in-out;
  margin: 3px;
  min-height: 100px;
  min-width: 32px;
}

::-webkit-scrollbar-thumb:hover {
  width: 10px;
  background-color: var(--app-scrollbar-color1);
  border: 1px solid rgba(0, 0, 0, 0);
  margin: 1px;
  border-radius: 10px;
  z-index: 12;
  min-height: 100px;
  min-width: 32px;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  display: block;
  border-style: solid;
  height: 17px;
  width: 17px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 17px;
  border-top: transparent solid 0;
  border-right: transparent solid 8px;
  border-left: transparent solid 8px;
  border-bottom: var(--app-scrollbar-color1) solid 16px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent var(--app-scrollbar-color2) transparent;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 17px;
  border-top: var(--app-scrollbar-color1) solid 16px;
  border-right: transparent solid 8px;
  border-left: transparent solid 8px;
  border-bottom: transparent solid 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  border-color: var(--app-scrollbar-color2) transparent transparent transparent;
}

/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
  width: 17px;
  border-top: transparent solid 8px;
  border-right: var(--app-scrollbar-color1) solid 16px;
  border-left: transparent solid 0;
  border-bottom: transparent solid 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
  border-color: transparent var(--app-scrollbar-color2) transparent transparent;
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
  height: 17px;
  border-top: transparent solid 8px;
  border-right: transparent solid 0;
  border-left: var(--app-scrollbar-color1) solid 16px;
  border-bottom: transparent solid 8px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background: transparent;
}

::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
  border-color: transparent transparent transparent var(--app-scrollbar-color2);
}

::-webkit-scrollbar-corner {
  height: 17px;
  width: 17px;
  background: var(--app-scrollbar-color3);
}

// Dark mode (OS native)
// Browser support: https://caniuse.com/#search=prefers-color-scheme
//@media (prefers-color-scheme: dark) {
//  body {
//    @include dark-mode-colors;
//  }
//}
//
//
// Dark mode (Quasar global dark mode)
.body--dark {
  @include dark-mode-colors;
}

// General Styles
.q-table__linear-progress {
  height: 3px;
}
