{% if server.hostname_transmitters_old +%}
server {
    listen 80;
    server_name {{ server.hostname_transmitters_old }};

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 301 $scheme://{{ server.hostname_transmitters }}$request_uri;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name {{ server.hostname_transmitters_old }};
    ssl_certificate /etc/letsencrypt/live/{{ server.hostname_transmitters_old }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server.hostname_transmitters_old }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    return 301 $scheme://{{ server.hostname_transmitters }}$request_uri;
}
{% endif %}

server {
    listen 80;
    server_name {{ server.hostname_transmitters }};

    access_log  /var/log/nginx/http-{{ server.hostname_transmitters }}.access.log main;
    error_log  /var/log/nginx/http-{{ server.hostname_transmitters }}.error.log warn;

    location / {
        return 302 https://$host$request_uri;
    }

    location /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }
}

server {
    listen 443 ssl;
    server_name {{ server.hostname_transmitters }};
    ssl_certificate /etc/letsencrypt/live/{{ server.hostname_transmitters }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ server.hostname_transmitters }}/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;

    access_log  /var/log/nginx/https-{{ server.hostname_transmitters }}.access.log main;
    error_log  /var/log/nginx/https-{{ server.hostname_transmitters }}.error.log warn;

    root /www/{{ 'prod' if env == 'prod' else 'staging' }}/transmitters;

    location / {
        charset utf-8;
    }
}
