app:
  drl-api:
    token: YOUR TOKEN

# https://discord.com/oauth2/authorize?client_id=[id]&permissions=2064&scope=bot+applications.commands
  discord:
    leaderboard:
      token: YOUR TOKEN
    tournament:
      token: YOUR TOKEN

  twitch:
    auth:
      client-id: YOUR CLIENT ID
      client-secret: YOUR CLIENT SECRET
